<a href="https://colab.research.google.com/github/minseo1039/2021_PNUAC_AIData/blob/main/02_python01_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초

## 파이썬
* 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 **플랫폼 독립**적인 **인터프리터** 언어 
  + 변수를 선언할 때 타입을 지정하지 않음
  + 값을 할당하면 그때 동적으로 타입이 정해짐
  + 타입이 다를 경우 형 변환을 해줘야 연산에 사용할 수 있음
  
### 파이썬 기본 문법
* 주석 : 프로그램 실행과 관계 없이 코드에 대한 설명을 작성
  + 한줄 주석 : # 
  + 여러줄 주석 : 작은따옴표 세개('''주석내용''')

* 들여쓰기(indent)
  + 코드 블럭을 구성하기 위해서는 반드시 들여쓰기 해야함

* 행분리 : 역슬래쉬(\)
  + 하나의 명령을 여러 줄에 수행

* 행결합 : 세미콜론(;)
  + 한 줄에 여러 명령 수행

In [ ]:
'''
작성자 : 김경민
'''

print('Hello Python!') #첫번째 출력코드

# 행분리
print('Hello \
Python!')

# 행결합
print('Hello', end=' '); print('Python!')

Hello Python!
Hello Python!
Hello Python!

## 변수(Variable)
* 필요한 데이터를 저장해 놓는 기억 공간의 별칭
* 변수 명 규칙
  + 영문 문자와 숫자 사용 : 대소문자 구분
  + 문자나 _(밑줄 문자)로 시작 : 숫자부터 시작하면 안 됨
  + 특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없음
  + python 키워드(if, for, while, and, or 등)는 사용할 수 없음


### 파이썬 데이터 타입(Data Type)
* 정수 : 정수 자료형(int)
* 실수 : 부동소수점 자료형(float)
* 참거짓 : 참(True)과 거짓(False)를 나타내는 부울 자료형(bool)
* 문자열 : 문자열 자료형(str), 작은따옴표('')나 큰따옴표("")로 묶음


### 데이터 타입 확인 
* type() 함수

In [ ]:
x = 10
y = 20.5
b = True 
s = 'Hello Python!'

print(x, '=>', type(x))
print(y, '=>', type(y))
print(b, '=>', type(b)) 
print(s, '=>', type(s))

10 => <class 'int'>
20.5 => <class 'float'>
True => <class 'bool'>
Hello Python! => <class 'str'>



---

**생각해보기)**


---
10과 '10'은 같은 자료형일까?

## 형변환(type Casting)
* int() : 실수나 문자열을 정수로 변환
* float() : 정수나 문자열을 실수로 변환
* str() : 정수나 실수를 문자열로 변환

In [ ]:
x = '10'
y = int(x)

print(x, '=>', type(x))
print(y, '=>', type(y))

10 => <class 'str'>
10 => <class 'int'>

## 파이썬 기본 입출력

### 표준 입력 : input() 
* 표준 입력 장치인 키보드로 부터 입력
* 입력된 값은 문자열
```python
input() # 표준 입력장치로 부터 문자열을 입력
input('문자열') # 문자열을 출력하고 표준 입력장치로 부터 문자열 입력
```

In [ ]:
x = input()
print(x, '=>', type(x))

123
123 => <class 'str'>

---

**생각해보기)**


---
정수나 실수 입력은 어떻게 받을까?

### 숫자 입력

In [ ]:
#정수 입력
x = int(input())

#실수 입력
y = float(input())

print(x, '=>', type(x))
print(y, '=>', type(y))

124
124
124 => <class 'int'>
124.0 => <class 'float'>


### 표준 출력 : print() 
* 표준 출력 장치인 모니터로 출력
```python
print(값1, 값2, ....) # 문자열을 출력하고 표준 입력장치로 부터 문자열 입력
```

* f-string
  + Python 신규 버전(3.6 이상) 부터 제공되는 기능
  + f'문자열' : f로 시작하는 문자열
    + 문자열 내부에 변수의 내용을 사용할 경우 {변수}
    + 문자열 내부에 실수인 변수를 소수점 처리할 경우 {실수변수:.소수점자리f}

In [ ]:
x = 3.14159

print('PI = ', x)
print(f'PI = {x:.4f}')

PI =  3.14159
PI = 3.1416

## 연산자
자료를 처리하기 위한 수식들을 결합하여 연산 동작을 수행하도록 하는 기호

+ 산술연산자
  - 수학적 계산을 수행할 때 사용하는 연산자
  - 사칙연산자(+, -, \*, /), 제곱(\**), 나머지(%), 나누기 결과 정수(//)

+ 비교연산자(관계연산자)
  - 비교할 때 사용하는 연산자
  - 등호(==), 같지 않음(!=), 부등호(<, >, <=, >=)

+ 논리연산자
  - 주어진 논리식을 판단하여, 참(true)과 거짓(false)을 결정하는 연산자
  - and(논리곱), or(논리합), not

+ 할당연산자(=)
  - 변수에 값을 할당하기 위하여 사용하는 연산자

In [ ]:
#두 정수를 입력받아서 산술연산

x = int(input())
y = int(input())

print(f'{x} + {y} = {x+y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} x {y} = {x*y}')
print(f'{x} / {y} = {x/y:.2f}')
print(f'{x} / {y} 나눈 몫 : {x//y}')
print(f'{x} / {y} 나눈 나머지 : {x%y}')
print(f'{x}의 {y} 승 : {x**y}')

10
3
10 + 3 = 13
10 - 3 = 7
10 x 3 = 30
10 / 3 = 3.33
10 / 3 나눈 몫 : 3
10 / 3 나눈 나머지 : 1
10의 3 승 : 1000

## 조건문
프로그램의 실행 흐름을 바꾸고자 할 때 사용하는 제어문
 - 사용자가 지정한 조건에 따라 실행할 문장을 결정함
```python
if (조건식) : 
      명령문
elif (조건식) :
      명령문
else :
      명령문
```

- if 조건문 뒤에는 반드시 콜론(:)
- 바로 아래 문장부터 **if문에 속하는 모든 문장에 들여쓰기(indentation)**를 해야 함
- 파이썬에는 다른 언어에 있는 switch 문이 존재하지 않음 : if...elif...elif... 문으로 수행
- pass  : def 문이나 if 문처럼 코드 블록을 본문으로 갖는 표현에서 본문을 비워 둘 때 사용

In [ ]:
# 정수를 입력받아서 짝수/홀수 구분

x = int(input())

12

In [ ]:
if (x % 2 == 0) :
  print(f'{x}는 짝수')
else :
  print(f'{x}는 홀수')

12는 짝수

In [ ]:
# 성적을 입력받아서 70이상이면 Pass, 70점미만 60점이상 재수강, 60점미만 Fail

x = float(input('성적입력 : '))

성적입력 : 80

In [ ]:
if x >= 70 :
  print(f'{x}는 Pass')
elif x >= 60 :
  print(f'{x}는 재수강')
else :
  print(f'{x}는 Fail')

80.0는 Pass

## 반복문
+ **for문** : 컬렉션으로부터 하나씩 요소(element)를 가져와, 루프 내의 문장들을 실행
```python
for 변수 in 컬렉션:
    명령문
    명령문
    ...
```

 + **range() 함수**
```python
range(시작숫자, 종료숫자, step)
```
    + 결과는 시작숫자부터 종료숫자 바로 앞 숫자까지 컬렉션 생성
    + 값을 확인하기 위해서는 순서가 있는 리스트나 튜플 컬렉션으로 변환해야 함
    + 시작숫자를 생략하면 0부터 생성
    + step을 생략하면 1씩 증가

  + **in** 연산자, **not in** 연산자
    + 멤버십 연산자로 컬렉션에 속한 멤버를 확인하기 위한 연산자

+ **while문** : while 키워드 다음의 조건식이 참일 경우 계속 while 안의 블럭을 실행
```python
while 조건식:
    명령문
    명령문
    ...
```
+ **break 문**
  + 반복문 안에서 루프를 빠져나오기 위해 을 사용

+ **continue문**
  + 루프 블럭의 나머지 문장들을 실행하지 않고 다음 루프로 직접 돌아가게 함

In [ ]:
# 1에서 50까지 숫자 중의 3의 배수이면서 4의 배수인 수를 출력

for i in range(1, 51) :
 if i%3==0 and i%4==0 :
   print(i, end=' ')

12 24 36 48

In [ ]:
#  while문으로 변경
i = 1
while i < 50 :
  i = i + 1
  if i%3!=0 or i%4!=0 : continue
  print(i, end=' ')

12 24 36 48

# **컬렉션자료형(collection data type)**
+ 여러 요소를 묶어서 처리할 수 있는 자료형 
+ 각 요소에 접근하는 방법이 제공

<img src ='https://drive.google.com/uc?export=view&id=1qNHKZPJv546haViE6KBY3kg8gUlHJm_F' width='50%'>

## 문자열

### 문자열 요소 접근

In [ ]:
s = 'Hello Python!'

In [ ]:
# 문자 출력
for i in s :
  print(i)

H
e
l
l
o

P
y
t
h
o
n
!

In [ ]:
# 문자열에 포함된 숫자들의 합
s = 'covid19'

hap =0

for i in s :
  if '0' <= i <= '9' : hap = hap + int(i)

print(hap)

10

### 문자열 인덱싱
 -  문자열의 각 문자는 0부터 시작되는 인덱스를 가짐
 - [인덱스]를 이용하여 인덱스위치의 문자 추출 :  처음위치 [0], 마지막위치 [-1]

In [ ]:
s = 'Hello Python!'

print(f'{s[0]}, {s[-1]}')
s[-2]

H, !

'n'


### 문자열 슬라이싱 
 - [인덱스1:인덱스2]: 인덱스1 위치에서 인덱스2 -1 위치까지 잘라냄
 - [인덱스1:] : 인덱스1 위치에서 끝까지 잘라냄
 - [: 인덱스2] : 처음부터 인덱스2 -1 위치까지 잘라냄

In [ ]:
s = 'Hello Python!'
s[2:]

'llo Python!'

### 문자열 연산
+ 문자열 더하기(+)
+ 문자열 곱하기(*)

In [ ]:
s = 'Hello Python!'
print('-' *30)
print(s + str(2021) ) 
print('-' *30)

------------------------------
Hello Python!2021
------------------------------

### **문자열 메소드**
+ **len()** : 문자열 길이 구하기
+ **count()** : 문자의 개수 구하기
+ **find()** : 문자가 처음 나오는 위치 반환 , 없으면 -1
+ **index()** : 문자가 처음 나오는 위치 반환, 없으면 오류
+ **join()** : 문자열 사이에 문자 삽입, 삽입문자’.join(문자열)
+ **upper()** :소문자를 대문자로 변환
+ **lower()** : 대문자를 소문자로 변환
+ **replace()** : 문자열 바꾸기
+ **replace(원본, 변환문자)**
+ **split()** : 문자열 나누기
 - 인수가 없으면 공백(스페이스, 탭, 엔터 등)을 기준

In [ ]:
data = 'a,b,c'
lt = data.split(',')
lt

['a', 'b', 'c']

In [ ]:
s = 'Hello Python!'
p = 'a,b,c'

print(len(s))

print(s.count('l'))

print(s.find('P'))
print(s.find('p'))

print(' '.join(s))

print(s.upper())
print(s.lower())

print(s.replace('l', 'o'))

print(s.split())
print(p.split(','))

13
2
6
-1
H e l l o   P y t h o n !
HELLO PYTHON!
hello python!
Heooo Python!
['Hello', 'Python!']
['a', 'b', 'c']

## **리스트(list)**
 - 리스트의 각 요소는 순서를 가지고 있음
 - 대괄호([])로 작성되며 각 요소는 쉼표(,)로 구분
 - 요소를 추가, 수정, 삭제 가능

### 리스트 생성
+ []나 리스트 함수

In [ ]:
lt = []

### 리스트 요소 접근

In [ ]:
lt = ['1', '2', '3', '4', '5']

#반복문을 이용한 리스트 접근
 
for i in lt :
  print(i, end=' ')

1 2 3 4 5

In [ ]:
#반복문을 이용하여 리스트 요소 정수로 변경
 
for i in range(len(lt)) :
  lt[i] = int(lt[i])

print(f'{lt} => {type(lt)}')

[1, 2, 3, 4, 5] => <class 'list'>

In [ ]:
lt = ['1', '2', '3', '4', '5']
print(f'{lt} => {type(lt)}')

lt = [int(i) for i in lt]
print(f'{lt} => {type(lt)}')

['1', '2', '3', '4', '5'] => <class 'list'>
[1, 2, 3, 4, 5] => <class 'list'>

### 리스트 인덱싱
 - 요소의 선택은 0부터 시작되는 인덱스로 접근
 - 리스트명[인덱스]

In [ ]:
s = [1, 3, 5]
print(s[0])
print(s[-1])

1
5

### 리스트 슬라이싱
 - 요소의 일부분 선택
 - 리스트명[시작인덱스:종료인덱스] : 종료인덱스는 포함되지 않음

In [ ]:
s = [1, 3, 5 , 8, 9]
print(s[1:3])
print(s[3:])
print(s[:2])

[3, 5]
[8, 9]
[1, 3]

### 리스트 연산
+ 더하기(+) : 리스트와 리스트 연결
+ 곱하기(*) : 리스트 요소 반복

In [ ]:
it1 = [1, 2, 3, 4, 5]
it2 = [1, 2, 3]
print(it1 + it2)
print(it1 * 2)
print(it2 + ['3'])

[1, 2, 3, 4, 5, 1, 2, 3]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, '3']

### 리스트 변경
* 추가
 - 리스트명.append(추가요소) : 마지막에 추가
 - 리스트명.insert(인덱스, 추가요소) : 해당 인덱스에 요소 추가

* 삭제
 - 리스트명.pop() : 마지막 요소 삭제
 - 리스트명.pop(인덱스) : 해당 인덱스 요소 삭제
 - 리스트명.remove(요소값) : 해당 요소값 삭제, 해당 값이 없으면 오류

* 수정
 - 리스트명[인덱스]=변경값
 - (참고) isinstance()함수 : 특정 객체가 특정 타입인지에 대해서 확인할 수 있는 방법

In [ ]:
# 정수를 입력받아서 약수리스트를 구하기

n = int(input())

lt = []

for i in range(1,n+1) :
  if n % i == 0 :
    lt.append(i)
  
print(lt)

12
[1, 2, 3, 4, 6, 12]

### 리스트 메소드
+ 리스트명.index(요소값) : 해당 요소값의 위치를 반환
 - 여러 개 요소가 존재하면 첫번째 위치 반환하고 없으면 오류
+ 리스트명.count(요소값) : 리스트 요소 개수 구하기
+ 리스트명.sort() : 오름차순 리스트 정렬
 - 리스트명.sort(reverse=True): 내림차순
+ 리스트명.reverse() : 요소를 역순으로 뒤집어 줌

In [ ]:
it = [1, 2, 3, 2, 5]

print(it.index(2))
print(it.index(5))

print(it.count(2))

it.reverse()
print(it)

it.sort()
print(it)

it.sort(reverse=True)
print(it)

1
4
2
[5, 2, 3, 2, 1]
[1, 2, 2, 3, 5]
[5, 3, 2, 2, 1]

In [ ]:
lt = [1, 2, 3, 2, 5]

In [ ]:
lt.reverse()

In [ ]:
lt

[5, 2, 3, 2, 1]

In [ ]:
lt.sort()

In [ ]:
lt

[1, 2, 2, 3, 5]

### 리스트 내장함수
* sum() : 리스트의 합을 반환
* min() : 리스트 최소값 반환
* max() : 리스트 최대값 반환
* len() : 리스트 개수 반환

In [ ]:
it = [1, 2, 3, 4, 5]

print(sum(it))

print(min(it))
print(max(it))

print(len(it))

it = ['1.23', '4.23']

print(len(it))

15
1
5
5
2

## 튜플(tuple) 
+ 튜플의 각 요소는 순서를 가지고 있음
+ 괄호(())로 작성되며 각 요소는 쉼표(,)로 구분
+ 요소를 추가, 수정, 삭제 불가능
+ **한번 결정된 요소는 변경 불가능**
+ **인덱싱과 슬라이싱은 리스트와 동일**
+ $+$와 $*$연산은 리스트와 동일
+ 각 요소에 변수 할당 가능
 - x, y = (10, 20)

In [ ]:
tp = (1, 2)
print(tp)

tp = list(tp)
tp[0]= 4
print(tp)

tp=tuple(tp)
print(tp)

(1, 2)
[4, 2]
(4, 2)

---

**생각해보기)**


---
튜플의 내용을 변경하고 싶을 경우는?

In [ ]:
tp = (1, 2)
tp[0] = 10

TypeError: ignored

In [ ]:
#튜플의 내용 변경해 보기
tp = list(tp)
tp[0] = 10
tp=tuple(tp)
tp

## 딕션너리(dictionary)
 - 키(key)와 값(value) 쌍을 요소로 가짐
 - 중괄호({})로 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음 
 - 키는 변경할 수 없으며 값은 변경가능

In [ ]:
areadata = {'서울시':57, '부산시':62, '대구시':59, 
            '인천시':59, '강화군':58, '서해5도' : 64, 
            '광주시' :62, '대전시':60, '울산시':53, 
            '세종시':58	}

### **딕션너리 접근**
 - 특정 요소 값 가져오기
   + **딕션너리명[키]**
   + **닥션너리명.get(키값)**
    + Key에 대응되는 Value를 돌려줌
    + 딕션너리명[키값]인 것과 동일 
    + 차이점 : 키가 없을 경우 딕션너리명[키값]은 오류이고 get()으로 가져올 경우는 none
 - 요소 키 컬렉션  : 딕션너리명.keys()
 - 요소 값 컬렉션 : 딕션너리명.values()
 - 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능

In [ ]:
areadata

{'강화군': 58,
 '광주시': 62,
 '대구시': 59,
 '대전시': 60,
 '부산시': 62,
 '서울시': 57,
 '서해5도': 64,
 '세종시': 58,
 '울산시': 53,
 '인천시': 59}

In [ ]:
areadata['부산시']

62

In [ ]:
areadata.get('부산')

In [ ]:
klt = list(areadata.keys())

In [ ]:
vlt = list(areadata.values())

In [ ]:
#반복문을 이용하여 딕션너리 내용 출력하기
for item in areadata :
 print(item)

서울시
부산시
대구시
인천시
강화군
서해5도
광주시
대전시
울산시
세종시

In [ ]:
#반복문을 이용하여 딕션너리 내용 출력하기 : 키와 값을 튜플로 출력
for item in areadata.items() :
  print(item)

('서울시', 57)
('부산시', 62)
('대구시', 59)
('인천시', 59)
('강화군', 58)
('서해5도', 64)
('광주시', 62)
('대전시', 60)
('울산시', 53)
('세종시', 58)

In [ ]:
#반복문을 이용하여 딕션너리 내용 튜플을 이용하여 출력하기 
for k, v in areadata.items() :
  print(k, v)

서울시 57
부산시 62
대구시 59
인천시 59
강화군 58
서해5도 64
광주시 62
대전시 60
울산시 53
세종시 58

## 집합(set)
+ **특징**
 - 중복 없는 요소로만 구성
 - 중괄호({}) 작성되며 각 요소는 쉼표(,)로 구분
 - 순서 없음

+ **생성자 set()**
 - 리스트나 튜플의 중복 요소 제거 

+ **요소 추가**
 - 집합명.add(요소) : 하나의 요소 추가
 - 집합명.update(추가집합) : 여러 요소를 추가

+ **요소 삭제**
 - 집합명.remove(요소값) : 하나의 요소 삭제
 - 집합명.clear() : 모든 요소 삭제
 
+ **집합 연산**
 - 교집합 : &
 - 합집합 : |
 - 차집합 : -

In [ ]:
it = [1, 2, 3, 4, 5, 3, 2, 5]
print(it)

it = list(set(it))

print(it)

[1, 2, 3, 4, 5, 3, 2, 5]
[1, 2, 3, 4, 5]

## **zip()**
+ 동일한 개수로 이루어진 컬렉션 자료형을 묶어 주는 역할을 하는 함수

In [ ]:
print(klt,  len(klt))
print(vlt,  len(vlt))

['서울시', '부산시', '대구시', '인천시', '강화군', '서해5도', '광주시', '대전시', '울산시', '세종시'] 10
[57, 62, 59, 59, 58, 64, 62, 60, 53, 58] 10

In [ ]:
#두 리스트를 딕션너리로 만들기
z = dict(zip(vlt, klt))
z

{53: '울산시', 57: '서울시', 58: '세종시', 59: '인천시', 60: '대전시', 62: '광주시', 64: '서해5도'}

In [ ]:
#리스트와 튜플을 딕션너리로 만들기
lt = [10,50,30]
tp = ('a','b','c')

dt = dict(zip(tp, lt))
print(dt)

{'a': 10, 'b': 50, 'c': 30}

In [ ]:
#리스트와 튜플을 리스트로 만들기
dt2 = list(zip(tp, lt))
print(dt2)

[('a', 10), ('b', 50), ('c', 30)]

In [ ]:
#리스트와 튜플을 리스트로 만들기2 : 리스트의 요소를 리스트로 변환
dt3 = list(zip(tp, lt))
dt3 = [list(item) for item in dt3]
print(dt3)

[['a', 10], ['b', 50], ['c', 30]]